<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="form-group text-center" ng-show="step == '1'">
    <div class="padding">
      <br /><br /><br />
      <h2>Hi! What is your name?</h2>
      <div class="row col-xs-6 col-xs-offset-3 text-center">
        <input type="text" ng-model="username" class="form-control input-lg" ng-keyup="event=$event;onEnterSubmitName()"></input>
      </div>
      <div class="row">
      <br /><br /><br /><br />
     </div>
     <div class="row col-xs-6 col-xs-offset-3">
      <a class="btn btn-lg btn-success pull-right" ng-disabled="!username" ng-click="step = 2">Okay, what's next?</a>
    </div>
    <br /><br /><br /><br />
  </div>
</div>

  <div class="form-group text-center" ng-show="step == '2'" }>
    <div class="row padding">
      <br /><br /><br />
      <div class="col-xs-3 col-xs-offset-2">
        <h4>
          {{username}}, next we will show you a face. The face will morph into either <strong>smile</strong> or <strong>frown</strong>.
          <br /><br />
          The moment you can tell which one it is, press <code>E</code> for <strong>smile</strong> or <code>I</code> for <strong>frown</strong>.
          <br /><br /><br /><br />
          <a class="btn btn-lg btn-primary" ng-click="onReadyToTryButton()" ng-disabled="disableReadToTry">{{readyToTryButton}} <span class="glyphicon glyphicon-chevron-right"></span></a>
        </h4>

      </div>
      <div class="col-xs-4">
        <img ng-src="{{image}}" />
      </div>
    </div>
    <div class="row col-xs-6 col-xs-offset-3" style="margin: 4em">
      <a class="btn btn-lg pull-left" ng-click="step = 1"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </div>
    <div class="alert alert-info" role="alert" ng-show="result" ng-bind="result"></div>
</div>

<div class="pressedKey" ng-show="showE">smile</div>
<div class="pressedKey" ng-show="showI">frown</div>
  

<div class="footer col-xs-12">
 <hr style="margin-top: 4em">
  <p>Games for peace</p>
</div>

</div>
